body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

h3 {
	color: #ec870f;
}
body {
	background: url("images/bg.png");
}

h1#logo {
	display: block;
	background: url("images/logo.png")  no-repeat;
	width: 353px; height: 91px;
	margin: 30px auto 30px auto;
	text-indent: -9999999em; 
}

input#query {
	width: 80%;
	height: 50px;
	padding: 2px 10px 2px 10px;
	font-size: 18px;
	color: #606060;
}

button#search {
	height: 50px;
	width: 10%;
	font-size: 16px;
	background: #ec870f;
	color: #ffffff;
	margin-left: -5px;
	padding: 0 20px 0 20px;
	border: 1px solid gray;
}

form#search-form {
	margin-bottom: 5px;
}
div#content {
	background: #ffffff;
}

div.thumbnails {
	margin: 30px 0 30px 0;
}

div.thumbnails img {
	border: 3px solid #dddee0;
	width: 175px;
	height: 175px;
}
div.thumbnails img:hover {
	border: 3px solid #ec870f;
}

div.thumbnails img {
	width: 175px;
	height: 175px;
}

div#footer {
	color: #bcbcbc;
	font-size: 12px;
}



/************************
**
** Search Results
**
*************************/
.query-header {
	font-size: 18px;
	margin-bottom: 30px;
	color: #767676;
}

.results-header {
	color: #2d2d2d;
}



.recipe-title {
	padding: 0;
	margin: 0;
}

div#results {
	text-align: left;
}

div.search-result {
	width: 75%;
	margin: 10px auto 10px auto;
	color: #4f4f4f;
	padding: 0;
	border-right: 3px solid #dbdbdb;
}

div.search-result:hover {
	border-right: 3px solid #eb7f00;
}

div.search-result img {
	border: 1px solid #787878;
}



div.search-result ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

div.search-result a {
	text-decoration: none;
}

#loading {
	text-align: center;
}